.card.card-user
  .image
    = image_tag cover, alt: :cover
  .content
    .author
      = image_tag avatar, alt: :avatar, class: "avatar border-white"
      %h4.title= name
      %a{:href => "#"}
        %small= username
    %p.description.text-center= about
  %hr/
  .text-center
    .row
      .col-md-3.col-md-offset-1
        %h5
          12
          %br/
          %small Files
      .col-md-4
        %h5
          2GB
          %br/
          %small Used
      .col-md-3
        %h5
          24,6$
          %br/
          %small Spent
